<h1>Corporate Bushfire Call Center Dashboard</h1>

<p>Brother: <span id="brother"><%= @brother %></span></p>
<p>Time: <span id="current-time"><%= @time %></span></p>
<p>Uptime: <span id="current-uptime"><%= @uptime %></span></p>
<p>Calls on hold: <span id="calls"><%= @calls_on_hold %></span></p>
<p>Bushfires: <%= @bushfires %></p>

<div id="butterflies"></div>